\.DS_Store
tags
/.quicknote/
.env
line-notes.json
tmp/
.zshrc.local

.cursorrules
.aider*
.claude/settings.local.json

# worktree用
# `git worktree add .worktree/ディレクトリ名 -b ブランチ名` のような風に使う
/.worktree/

# codex用
claude/skills/.system/
