\.DS_Store
tags
/utils/
/.quicknote/
.env
line-notes.json
tmp/local_secret.txt

.cursorrules
.aider*
.claude/settings.local.json
# worktree用
# `git worktree add worktree/タスク名 -b タスク名` のような風に使う
/worktree/
