# ref: https://mise.jdx.dev/configuration.html, https://mise.jdx.dev/dev-tools/backends/
# 今入っている言語の一覧
# mise list
[tools]
ruby                                   = 'latest'
"gem:rubocop"                          = 'latest'
"gem:ruby-lsp"                         = 'latest'
"gem:dip"                              = 'latest'

nodejs                                 = 'latest'
"npm:prettier"                         = 'latest'
"npm:sql-formatter"                    = 'latest'
"npm:@google/gemini-cli"               = 'latest'
"npm:@anthropic-ai/claude-code"        = 'latest' # `claude update` で手動更新できる
"npm:@openai/codex"                    = 'latest'
"npm:ccusage"                          = 'latest'
"npm:playwright"                       = 'latest'
"npm:@playwright/mcp"                  = 'latest'

python                                 = 'latest'
# uvのmise管理についての参考: https://rcmdnk.com/blog/2025/10/04/computer-ai/
uv                                     = 'latest'
"pipx:github/spec-kit"                 = 'latest'
"pipx:awsume"                          = 'latest'

rust                                   = 'latest'

go                                     = 'latest'
"go:github.com/hashicorp/terraform-ls" = "latest"
"go:golang.org/x/tools/gopls"          = "latest"

duckdb                                 = 'latest'

[settings]
# configure how frequently (in minutes) to fetch updated plugin repository changes
# this is updated whenever a new runtime is installed
plugin_autoupdate_last_check_duration = '1 week' # set to 0 to disable updates
# gemもmiseで管理するには現時点ではexperimentalをtrueにする必要がある
experimental = true
